input {
    display: block;
}

.request-text {
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
}

.pickup-box, .destination-box {
    font-family: Arial;
    font-size: 16px;
    color: rgb(94, 94, 94);
    background-color: rgb(228, 225, 225);
    width: 360px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border: none;

}

.request-button {
    font-size: 16px;
    background-color: black;
    color:rgb(255, 255, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    margin-top: 20px;
    margin-right: 10px;
}

.schedule-button {
    font-size: 16px;
    background-color: rgb(228, 225, 225);
    color:black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    margin-top: 20px;
    margin-right: 10px;
}