.LinkedIn-left-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    border-radius: 18px;
    height: 36px;
    width: 220px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 6px;
    transition: background-color 0.15s;
}

.LinkedIn-left-button:hover {
    background-color: rgb(5, 68, 130);
}

.LinkedIn-right-button {
    background-color: white;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-radius: 18px;
    border-width: 1px;
    font-weight: bold;
    height: 36px;
    width: 80px;
    cursor: pointer;
    transition: background-color 0.15s,
                border-width 0.1s;
}

.LinkedIn-right-button:hover {
    background-color: rgb(182, 204, 250);
    border-width: 2px;
}