p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 6px;
}

.text-num {
    font-size: 25px;
    font-weight: bold;
}

.text-usd {
    font-size: 12px;
    color: gray;
}

.text-label {
    font-size: 12px;
    color: green;
}

.text-time {
    font-size: 12px;
    color: gray;
}

.text-per {
    font-size: 12px;
    color: red;
}