p {
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 10px;
}

.text-name {
    font-size: 24px;
    font-weight: bold;
}

.text-title {
    font-size: 20px;
    color: gray;
}

.text-discription {
    font-size: 19px;
    width: 600px;
    line-height: 20px;
    margin-bottom: 25px;
}

.text-label {
    font-size: 19px;
}

.text-ref {
    font-size: 19px;
    color: rgb(0, 162, 255);
}