/* <!--
    Style is the css
    here button will style all the buttons in the 
    page. but what if we want to style each button individually?
    then we will use class attributes.
--> */
button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 110px;
    border-radius: 3px;
    cursor: pointer;
}
